---
---

@import "{{ site.theme }}";

/* Everything above this is the bare minimum */

/* Everything below this is my own customizations */

a {
 color:#000000;
}

a:hover,
a:focus {
 color:#a61738;
}
a small {
 color:#000000;
}
a:hover small {
 color:#a61738
}

/* body means everything, the default for the page */
body {
 font-family: "Times New Roman", Times New Roman, serif;
 font-size: 105%;
}

/* these are the headers */
h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}


header h1 a {
 font-size: 1.2em;
 color: #000000;
}

header h1 a:hover {
 font-size: 1.2em;
 color:#a61738;
}

header h2 a {
 font-size: 1.0em;
 color: #363636;
}

header h1 a:hover {
 font-size: 1.0em;
 color:#a61738;
}

